{% extends 'base.html.twig' %}
{%block body%}
<center><table border=1 class="card-title">
       <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Listes des students</h3>

        <thead>
            <tr>
                <th colspan="5">Ref</th>
                <th colspan="5">created at</th>
                <th colspan="5">description</th>
            <th colspan="5"><center>actions</center></th>
               
            
               
            </tr>
        </thead>
        <tbody>
       
        {% for club in clubs %}
        
            <tr>
               
                <td colspan="5">{{ club.id }}</td>
                <td colspan="5">{{ club.createdAt }}</td>
                
              <td colspan="5">
               
<a class="btn btn-success" href="{{ path('app_ajout_student')}}"style="width:150px" > Ajouter </a></div>
         </td>
           
                 
                </td>
            </tr>
          
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
              
        {% endfor %}
      
        </tbody>
    </table>
    </center>
    </div>
    {%endblock%}